@import 'tailwindcss';

@font-face {
  font-family: 'ONE-Mobile-Desc';
  src: url('/fonts/ONE-Mobile-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('/fonts/ONE-Mobile-Title.woff') format('woff');
  font-weight: lighter, normal, bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --default-font-family: 'ONE-Mobile-Title';
  --font-desc: 'ONE-Mobile-Desc';

  --color-black-primary: #1a1a1a;
  --color-black-secondary: #1b1b1b;

  --color-error: #ff2020;

  --animate-spin-first: spin 11s linear infinite;
  --animate-spin-cube: spin 17s linear infinite;
  --animate-spin-cube-reverse: spin 20s linear infinite reverse;
  --animate-spin-circle-layer: spin 15s linear infinite;

  --animate-onboarding-position: onboarding-image-position 1.5s ease-in-out;

  --animate-click-icon-poisition: clickIcon 2s ease-in-out;
}

:root {
  --gradient-top-right: #aad2ff;
  --gradient-right: #fc90d1d3;
  --gradient-bottom-right: #f3c5ff;
}

@layer utilities {
  .text-blur {
    text-shadow:
      0px 0px 23px rgb(255, 255, 255),
      0px 0px 13px rgb(255, 255, 255),
      0px 0px 7px rgb(255, 255, 255),
      0px 0px 3px rgb(255, 255, 255);
  }

  .text-blur-sm {
    text-shadow: 0px 0px 13px rgb(255, 255, 255);
  }

  .text-blur-pink {
    text-shadow:
      0px 0px 20px rgb(252, 144, 209),
      0px 0px 3px rgba(252, 144, 209, 0.1),
      0px 0px 10px rgba(252, 144, 209, 0.3);
  }

  .text-gradient {
    color: transparent;
    background-color: #ffffff;
    background-image:
      radial-gradient(at top right, transparent 60%, var(--gradient-top-right) 90%),
      linear-gradient(to right, transparent 50%, var(--gradient-right) 100%),
      radial-gradient(at bottom right, transparent 40%, var(--gradient-bottom-right) 95%);
    background-clip: text;
  }

  .text-gradient-linear {
    color: transparent;
    background-color: #ffffff;
    background-image:
      linear-gradient(to left, transparent 50%, #3694ff91 70%),
      linear-gradient(to right, transparent 20%, #d736ff80 60%),
      radial-gradient(at top left, transparent 100%, #ff41b394 90%);
    background-clip: text;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  width: 100%;
  margin: 0 auto;
}

dialog::backdrop {
  max-width: 430px;
  margin: 0 auto;
}

@media (max-height: 670px) {
  #dropdown {
    max-height: 200px;
  }
}

@media (min-height: 670px) {
  #deleteReason textArea {
    height: 250px !important;
  }
  #etc {
    height: 100%;
  }
}

@media (width >= 1280px) {
  dialog::backdrop {
    margin-left: 55%;
  }

  .toast-list {
    left: 55%;
  }
}

@media (width < 1280px) {
  .toast-list {
    margin: 0 auto;
  }
}

@keyframes onboarding-image-position {
  0% {
    transform: translateY(140%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes clickIcon {
  0% {
    transform: translate(200%, 200%);
    opacity: 0;
    visibility: hidden;
  }

  60% {
    transform: translate(0, 0);
    visibility: visible;
    opacity: 100;
  }

  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
